[mysqld]

server-id               = SERVERID
log_bin                 = LOG_BIN 
log_bin_index           = BINDEX
relay_log               = RELAY_LOG
relay_log_index         = RINDEX
replicate-do-db       = NOCHERODB
auto_increment_increment = 5
auto_increment_offset = 1
